parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


latte:
	strictTypes: yes


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


# CONNECTION TO DATABASE
# database:
#     dsn: 'mysql:host=127.0.0.1;dbname=smartemailing_project'
#     user: 'root'
#     password:

