{block content}
{form filterPOS}
    {input open}
    <div id="open-when-toggle">
    {input when}
        <div id="open-date-toggle">
            {input date}
        </div>
    </div>
    {input filter}
{/form}

